/* #Header */

.navbar {
    background: url("https://drive.google.com/uc?export=view&id=1MAIcaM0e15ObaKrX9bvwWl9B0z5CZpCf");
    background-color: #585b5e;
    z-index: 2001;
}

.navbar-brand {
    padding: 0 !important;
}

.user-image {
    width: 30px;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 50% !important;
}

.account {
    padding: 0 !important;
    text-decoration: none !important;
    color: white !important;
}

/* #Footer */

.footer {
    color: white;
}